<div class="container">
  <div class="row pt-3">
    <div class="col-md-6 px-3 border-right">
      <div class="font-weight-bold h2 mb-3 pb-3">
        Add Property
      </div>
      <form #form="ngForm" autocomplete="off">
          <div class="form-group">
            <label class="font-weight-bold" for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" [(ngModel)]="property.name" required/>
          </div>

          <div class="form-group">
            <label class="font-weight-bold" for="description">Description</label>
            <textarea class="form-control" rows="2" name="description" [(ngModel)]="property.description" required></textarea>
          </div>

          <div class="form-group">
            <label class="font-weight-bold" for="size">Size</label>
            <input type="number" name="size" id="size" class="form-control" [(ngModel)]="property.size" required/>
            <p class="small">Size is in square meters</p>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit"  class="btn btn-primary" [disabled]="!form.valid" (click)="submit()">Add</button>
          </div>
      </form>
    </div>
    <div class="col-md-6 px-3">
      <div class="font-weight-bold h2 mb-3 pb-3">
        Property List
      </div>
      <div *ngIf="properties.length == 0" class="mt-4 d-flex justify-content-center">
        <h3>No Property Available</h3>
      </div>
      <ul class="list-group list-group-flush overflow-auto" style="height: calc(100vh - 125px);">
        <li class="card list-group-item p-0" *ngFor="let property of properties; let i = index;">
          <div class="card-body" >
            <h5 class="card-title">
              {{ property.name }}
            </h5>
            <p class="card-text">
             {{ property.description }}
            </p>
            <div class="d-flex justify-content-end">
              <div class="btn-group">
                
                <div class="btn btn-sm btn-danger" (click)="deleteProperty(property._id)">
                  Delete
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>